@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/*  */

@font-face {
  font-family: "Nunito";
  src: url("/Fonts/Nunito-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "Nunito", sans-serif !important;
}

@font-face {
  font-family: "Nunito";
  src: url("/Fonts/Nunito-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

.nunito-medium,
h4 {
  font-family: "Nunito", sans-serif !important;
}

@font-face {
  font-family: "Nunito-ExtraLight";
  src: url("/Fonts/Nunito-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

.nunito-extraLight {
  font-family: "Nunito-ExtraLight", sans-serif !important;
}

@font-face {
  font-family: "Nunito-SemiBold";
  src: url("/Fonts/Nunito-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

.nunito-semiBold {
  font-family: "Nunito-SemiBold", sans-serif !important;
}

@font-face {
  font-family: "Nunito";
  src: url("/Fonts/Nunito-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

.nunito-bold {
  font-family: "Nunito", sans-serif !important;
}

@font-face {
  font-family: "Nunito-Medium";
  src: url("/Fonts/Nunito-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

.nunito-medium,
h4 {
  font-family: "Nunito-Medium", sans-serif !important;
}

@font-face {
  font-family: "ClashGrotesk";
  src: url("/Fonts/ClashGrotesk-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

h1,
h2,
h3 {
  font-family: "ClashGrotesk", sans-serif !important;
}

/*  */

.right-bottom-shadow {
  box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.1);
}

.left-bottom-shadow {
  box-shadow: -8px 8px 10px rgba(0, 0, 0, 0.1);
}

.left-right-bottom-shadow {
  box-shadow: -8px 8px 10px rgba(0, 0, 0, 0.1), 8px 8px 10px rgba(0, 0, 0, 0.1);
}

.all-sides-shadow {
  box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.1), -4px 0px 10px rgba(0, 0, 0, 0.1),
    4px 0px 10px rgba(0, 0, 0, 0.1), 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.all-shadow {
  box-shadow: 0px -12px 10px rgba(0, 0, 0, 0.1), -12px 0px 10px rgba(0, 0, 0, 0.1),
    12px 0px 10px rgba(0, 0, 0, 0.1), 0px 12px 10px rgba(0, 0, 0, 0.1);
}

/* Feature Item Animation */
.feature-item {
  color: #333;
  font-size: 14px;
  font-weight: bold;
  padding: 10px;
  border-radius: 4px;
  transition: transform 0.3s ease;
  text-align: center;
  width: fit-content;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  display: inline-block;
}

.feature-item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: #050C06;
  transition: left 0.7s ease-in-out;
}

.feature-item:hover::after {
  left: 0;
}

.feature-item:hover {
  transform: translateY(-2px);
}

